$bg-color: #f3fff8;
$calc-bg: #d9d9d9;
$calc-border: #a6a6a6;
$calc-display: #fdf7f8;
$calc-display-border: #a6a6a6;
$calc-btn-bg: #aee2ff;
$calc-btn-border: #a7cfe8;
$text-color: #544649;
$shadow-color: #333;
